.search-movie{
    label{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    input {
        font-family: "Quicksand";
        display:block;
        margin:10px 0;
        padding:10px;
        border-radius:10px;
        border: 1px solid #eee;
        transition: .3s border-color;
        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
            border: 1px solid #aaa;
            outline: none;
        }
    }
}